.purple-default {
    background-color: #6854cc;
}

.dark-blue {
    background-color: #202434;
}

.secondary-dark-blue {
    background-color: #181c2c;
}

.tertiary-dark-blue {
    background-color: #17191e;
}

.great-pink {
    background-color: #FF00C8;
}

.select {
    background-color: rgba(255, 255, 255, 0.309);
}