/* :root {
    --text-color-white: #fff;
}

a>img {
    background-color: #135c65;
    border-radius: 5px;
    padding: 1px;
    transition: background-color 0.3s ease;
}

a>img:hover {
    background-color: #00bcd4;
    color: (--text-color-white);
} */